<template>
  <div class="about">
    <h1>その他</h1>
    <button type="button" class="btn btn-primary position-relative">
      受信箱
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <span class="visually-hidden">受信0</span>
  </span>
    </button>
  </div>
</template>
